/* start style */

.yes {
    margin-left: 47%;
}

.navbar-brand {
    font-family: cursive;
    margin-left: 20px;
    font-size: 29px;
}

.carousel {
    position: relative;
}

.info {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    top:0;
    left:0;
    bottom: 0;
    right: 0;
}

.home-info {
    position: absolute;
    left: 24%;
    top: 40%;
    color: #ffffff;
    text-align: center;
}

@media screen and (max-width:700px) {
    .home-info {
        position: absolute;
        left: 6%;
        top: 27%;
        color: #ffffff;
        text-align: center;
    }

    .home-info h2 {
        margin: 10px 0;
        font-size: 20px;
    }

    .home-info p {
        font-size: 14px;
    }
}

.home-info h2 {
    margin: 10px 0;
}

.home-info button {
    padding: 4px 10px;
    border: none;
    border-radius: 4px;
}


#about {
    padding: 70px 0;
    margin-top: 40px;
}

#services , #portfolio , #team , #contact  {
    padding: 70px 0;
    margin-top: 40px;
    
}

.ser-info div {
    padding: 10px;
    border-radius: 6px;
    margin: 12px 0;
}

.ser-info div i {
    font-size: 40px;
}

.ser-info div h2 {
    margin: 12px 0;
}

.make {
    padding-top: 40px;
}

.make div {
    margin: 10px 0;
}

.tea {
    padding-top: 40px;
}

.tea div {
    padding: 12px 20px;
    margin: 4px;
}

.tea div img {
    border-radius: 49%;
}

.tea div i {
    color: rgb(233, 230, 57);
    margin: 0 6px;
    cursor: pointer;
} 

input , textarea {
    margin: 8px 0;
}
